.formulario{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 6.1%;
    width: 100%;
    .indicacion{
        font-size: 25px;
        margin: 10px 0px;
    }
}

