.main_elabTinto{
    .titulo{
        @include titulo;
        margin-bottom: 15px;
    }
}
.proceso_tinto{
    @include flex(flex, column nowrap);
    align-items:  center;
    justify-items: center;
    margin-bottom: 2%;
    .carousel.slide{
        width: 70%;
    }
    .et_img{
        width: 70%;
    }
    .et_info.n7{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .et_info{
        margin: 0;
        .et_tittle{
            text-align: center;
            width: auto;
            margin: auto;
            height: 50px;
            font-size: map-get($textSize, tituloArticulo);
            animation: moverTexto 5s infinite;
        }
        .et_txt{
            font-size: map-get($textSize , textInfo);
            width: 90%;
            text-align: justify;
            margin: auto;
        }
    }
}