.main_elabBlanco{
    .titulo{
        @include titulo;
        margin-bottom: 15px;
    }
    .proceso_blanco{
        align-items:  center;
        justify-items: center;
        margin-bottom: 2%;
        .carousel.slide{
            width: 70%;
        }
        .eb_img{
            width: 70%;
        }
        .eb_info{
            margin: 0;
            .eb_tittle{
                text-align: center;
                width: auto;
                margin: auto;
                height: 50px;
                font-size: map-get($textSize, tituloArticulo);
            }
            .eb_txt{
                font-size: map-get($textSize , textInfo);
                width: 90%;
                text-align: justify;
                margin: auto;
            }
        }    
    }
}