.proceso_tinto{
    align-items:  center;
    justify-items: center;
    margin-bottom: 2%;
    .carousel.slide{
        width: 80%;
        // height: 370px;
    }
    .et_img1{
        width: 80%;
        display: flex;
        align-items: center;
    }
    .et_tittle{
        text-align: center;
        width: auto;
        height: 50px;
        font-size: 1.5rem;
        animation: moverTexto 5s infinite;
        @keyframes moverTexto{
            0%{
                color: red;
                transform: translateX(-10%);
                margin: 0;
            }
            50%{
                transform: translatex(10%);
                margin: 0;
            }
            100%{
                transform: translateX(-10%);
                margin: 0;
            }
        }
    }
    .et_txt{
        margin: 3rem;
    }
}