/* --------> GRIDS: INDEX <------- */
.grid_index{
    @include grids;
}
.main_index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "titulo titulo"
    "carousel carousel"
    "arts arts";
    .titulo_slogan{
        grid-area: titulo;
    }
    .portada_index{
        grid-area: carousel;
    }
    .contenedor_articulos{
        grid-area: arts;
    }
}
.contenedor_articulos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "art1 art2"
    "art1 art2";
    .articulo1{
        grid-area: art1;
    }
    .articulo2{
        grid-area: art2;
    }
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "logo"
    "txt";
    a{
        grid-area: logo;
        align-self: center;
        justify-self: center;
    }
    .footer_txt{
        grid-area: txt;
        align-self: center;
        justify-self: center;
    }
}
/* --------> GRIDS: CEPAS <------- */
.grid_cepas{
    @include grids;
}
/* --------> GRIDS: ELABORACION <------- */
.grid_elaboracion{
    @include grids;
}
// ELABORACION TINTO
.proceso_tinto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "info1 car1"
    "car2 info2"
    "info3 img1"
    "car3 info4"
    "info5 img2"
    "car4 info6"
    "info7 car5"
    "img3 info8";
    .et_info.n1{
        grid-area: info1;
    }
    .ct1{
        grid-area: car1;
    }
    .et_info.n2{
        grid-area: info2;
    }
    .ct2{
        grid-area: car2;
    }
    .et_info.n3{
        grid-area: info3;
    }
    .et_img.n1{
        grid-area: img1;
    }
    .et_info.n4{
        grid-area: info4;
    }
    .ct3{
        grid-area: car3;
    }
    .et_info.n5{
        grid-area: info5;
    }
    .et_img.n2{
        grid-area: img2;
    }
    .et_info.n6{
        grid-area: info7;
    }
    .ct4{
        grid-area: car5;
    }
    .et_info.n7{
        grid-area: info6;
    }
    .ct5{
        grid-area: car4;
    }
    .et_info.n8{
        grid-area: info8;
    }
    .et_img.n3{
        grid-area: img3;
    }
}
/* --------> GRIDS: CONTACTO <------- */
.grid_contacto{
    @include grids;
}
.main_contacto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "titulo titulo titulo titulo"
    "form form form form";
    .titulo{
        grid-area: titulo;
    }
    .formulario{
        grid-area: form;
    }
}