/* MAIN */
.main_index{
    .titulo_slogan{
        margin: 0;
        background-image: linear-gradient($colorPrincipal, $colorSecundario);
        z-index: 0;
        .titulo_principal{
            @include flex(flex, row);
            justify-content: center;
            text-align: center;
            font-family: 'playfair display';
            font-style: italic;
            font-size: map-get($textSize , tituloPrincipal);
            font-weight: bolder ;
            color: $colorTerciario;
        }
        .slogan{
            @extend .titulo_principal;
            font-family: 'oswald';
            font-size: map-get($textSize , Slogan);
            width: 100vw;
            margin: 0;
            // animation-name: sloganTranslate;
            // animation-delay: 2s;
            // animation-duration: 7s;
            // animation-iteration-count: infinite;
            // animation-timing-function: ease-in-out;
            // @keyframes sloganTranslate{
            //     0%{
            //         transform: translateX(0px);
            //     }
            //     50%{
            //         transform: translateX(5%);
            //     } 
            //     100%{
            //         transform: translateX(0px);
            //     }
            // }
        }
    }
    .portada_index{
        .carousel-inner{
            .d-block{
                width: 10vw;
                height: 60%;
            }
        }
    }
    .contenedor_articulos{
        .articulo1{
            @include flex(flex, column nowrap);
            align-items: center;
            .titulo_articulo-index{
                @include titulo_articulo;
            }
            .primeros_pasos{
                @include flex(flex, column);
                li{
                    list-style-type: upper-roman;
                    text-align: left;
                    font-weight: bold;
                    font-size: map-get($textSize , itemLista);
                    text-indent: 40px;
                    width: auto;
                    p{
                        text-align: justify;
                        font-weight: 500;
                        font-size: map-get($textSize , textInfo);
                        text-indent: 10px;
                        line-height: 1.5;
                        letter-spacing: 0.5px ;
                        white-space: pre-line; /* SALTO DE LINEA */
                        width: 90%;
                        margin: 2%;
                    }
                }
            }
        }
        .articulo2{
            @include flex(flex, column nowrap);
            align-items: center;
            .titulo_articulo-index{
                @include titulo_articulo;
            }
            .etiqueta_vino{
                @extend .articulo2;
                .etiqueta{
                    width: 50%;
                }
                .etiqueta_items{
                    @include flex(flex, column);
                    height: 300px;
                    justify-content: space-evenly;
                    li{
                        font-size: map-get($textSize , textInfo);
                        font-weight: 500;
                        width: 95%;
                    }
                }
            }
        }
    }
}
