/* MAIN */
.main_index{
    .titulo_slogan{
        margin: 0;
        background-image: linear-gradient($colorPrincipal, $colorSecundario);
        z-index: 0;
        .titulo_principal{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            font-family: 'playfair display';
            font-style: italic;
            font-size: 100px;
            font-weight: bolder ;
            // width: 100vw;
            color: $colorTerciario;
        }
        .slogan{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            font-family: 'oswald';
            font-style: italic;
            font-size: 25px;
            width: 90vw;
            color: $colorTerciario;
            margin: 0;
            // animation-name: sloganTranslate;
            // animation-delay: 2s;
            // animation-duration: 7s;
            // animation-iteration-count: infinite;
            // animation-timing-function: ease-in-out;
            // @keyframes sloganTranslate{
            //     0%{
            //         transform: translateX(0px);
            //     }
            //     50%{
            //         transform: translateX(5%);
            //     } 
            //     100%{
            //         transform: translateX(0px);
            //     }
            // }
        }
    }
    .portada_index{
        .carousel.slider{
        width: 100vw;
        }
    }
    .contenedor_articulos{
        .articulo1{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .titulo_articulo-index{
                font-weight: bolder;
                font-size: 25px;
                text-indent: 30px;
                margin: 60px 0px 20px;
                text-decoration: underline;
            }
            .primeros_pasos{
                display: flex;
                flex-direction: column;
                li{
                    list-style-type: upper-roman;
                    text-align: left;
                    font-weight: bold;
                    font-size: 20px;
                    text-indent: 40px;
                    width: auto;
                    p{
                        text-align: justify;
                        font-weight: 500;
                        font-size: 16px;
                        text-indent: 10px;
                        line-height: 1.5;
                        letter-spacing: 0.5px ;
                        white-space: pre-line; /* SALTO DE LINEA */
                        width: 90%;
                        margin: 2%;
                    }
                }
            }
        }
        .articulo2{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .titulo_articulo-index{
                font-weight: bolder;
                font-size: 25px;
                text-indent: 30px;
                margin: 60px 0px 20px;
                text-decoration: underline;
            }
            .etiqueta_vino{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                .etiqueta{
                    width: 40%;
                }
                .etiqueta_items{
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    justify-content: space-evenly;
                    font-weight: 500;
                    font-size: x-large;
                    width: 90%;
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
