@media screen and (max-width: 768px){
    .grid_index{
        @include grids_tablet;
    }
    .main_index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "titulo titulo"
        "portada portada"
        "arts arts";
        .titulo_slogan{
            grid-area: titulo;
            .titulo_principal{
                text-align: center;
                margin: 0;
                font-size: 70px;
            }
            .slogan{
                font-size: 20px;
            }
        }
        .portada_index{
            grid-area: portada;
        }
        .contenedor_articulos{
            grid-area: arts;
        }
    }
    .contenedor_articulos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "art1 art2"
        "art1 art2"
        "art1 art2";
        .articulo1{
            grid-area: art1;
            .titulo_articulo-index{
                text-align: center;
            }
            .primeros_pasos{
                li{
                    list-style-type: upper-roman;
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    text-indent: 0px;
                    p{
                        text-align: justify;
                        font-weight: 500;
                        font-size: 16px;
                        width: 90%;
                        text-indent: 0px;
                        margin:  5px 20px 20px ;
                        line-height: 1.5;
                        letter-spacing: 0.5px ;
                        white-space: pre-line;
                    }
                }
            }
        }
        .articulo2{
            grid-area: art2;
            .titulo_articulo-index{
                text-align: center;
            }
            .etiqueta_vino{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                .etiqueta_items{
                    margin-left: 20px;
                    margin-right: 20px;
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575px){
    .grid_index{
        @include grids_celular;
    }
    .main_index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "portada"
        "arts";
        .titulo_slogan{
            grid-area: titulo;
            .titulo_principal{
                font-size: 40px;
            }
            .slogan{
                font-size: 14px;
                width: auto;
            }
        }
        .portada_index{
            grid-area: portada;
        }
        .contenedor_articulos{
            grid-area: arts;
        }
    }
    .contenedor_articulos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "art1"
        "art2";
        .articulo1{
            grid-area: art1;
            .titulo_articulo-index{
                display: flex;
                justify-content: center;
            }
            .primeros_pasos{
                li{
                    width: 100vw;
                }
            }
        }
        .articulo2{
            grid-area: art2;
            display: flex;
            flex-flow: column nowrap;
            .titulo_articulo-index{
                display: flex;
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .grid_cepas{
        @include grids_tablet;
    }
    .main_cepas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titulo"
        "cepas";
        .titulo{
            grid-area: titulo;
            font-size: 40px;
        }
        .cepas_contenido{
            grid-area: cepas;
        }
    }
}
@media screen and (max-width: 575px){
    .grid_cepas{
        @include grids_celular;
    }
    .main_cepas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "cepas";
        .titulo{
            grid-area: titulo;
            font-size: map-get($textSize, titPagCelular);
        }
        .cepas_contenido{
            grid-area: cepas;
            ul{
                li{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: left;
                    margin-top: 30px;
                    height: 100%;
                    width: 90%;
                    margin-left: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .grid_elaboracion{
        @include grids_tablet;
    }
    .main_elabTinto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "proceso";
        .titulo{
            grid-area: titulo;
            font-size: 40px;
            margin: 10px 0px 35px;
        }
        .proceso_tinto{
            grid-area: proceso;
            display: flex;
            flex-flow: column nowrap;
            .et_info{
                .et_tittle{
                    font-size: 25px;
                    width: auto;
                    margin: 0;
                    height: 50px;
                    text-align: center;
                }
            }
        }
    }
    .main_elabBlanco{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "proceso";
        .titulo{
            grid-area: titulo;
            font-size: 40px;
            margin: 10px 0px 35px;
        }
        .proceso_blanco{
            grid-area: proceso;
            display: flex;
            flex-flow: column nowrap;
            .eb_info{
                .eb_tittle{
                    font-size: 25px;
                    width: auto;
                    margin: 0;
                    height: 50px;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .grid_elaboracion{
        @include grids_celular;
    }
    .main_elabTinto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "proceso";
        .titulo{
            grid-area: titulo;
            font-size: 28px;
            margin: 10px 0px 35px;
        }
        .proceso_tinto{
            grid-area: proceso;
            display: flex;
            align-items:  center;
            justify-items: center;
            width: 100vw;
            .et_info{
                width: 90vw;
                margin: 0;
                .et_tittle{
                    font-size: 20px;
                    width: auto;
                    margin: 0;
                    height: 30px;
                    text-align: center;
                }
            }
            .carousel-inner{
                margin-bottom: 50px;
            }
            .et_img{
                margin-bottom: 50px;
            }
        }
    }
    .main_elabBlanco{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "proceso";
        .titulo{
            grid-area: titulo;
            font-size: 28px;
            margin: 10px 0px 35px;
        }
        .proceso_blanco{
            grid-area: proceso;
            display: flex;
            align-items:  center;
            justify-items: center;
            width: 100vw;
            .eb_info{
                width: 90vw;
                margin: 0;
                .eb_tittle{
                    font-size: 20px;
                    width: auto;
                    margin: 0;
                    height: 30px;
                    text-align: center;
                }
            }
            .carousel-inner{
                margin-bottom: 50px;
            }
            .eb_img{
                margin-bottom: 50px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .grid_tienda{
        @include grids_tablet;
    }
    .main_tienda{
        .titulo{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 575px){
    .grid_tienda{
        @include grids_celular;
    }
    .main_tienda{
        .titulo{
            font-size: map-get($textSize, titPagCelular);
        }
    }
}
@media screen and (max-width: 768px) {
    .grid_contacto{
        @include grids_tablet;
    }
    .main_contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "form"
        "sub"
        "map";
        .titulo{
            grid-area: titulo;
            font-size: 40px;
        }
        .formulario{
            grid-area: form;
            .comentario{
                width: 100%;
                display: flex;
                justify-content: center;
                .text-comentario{
                    width: 60%;
                }
            }
        }
        .subtitulo{
            grid-area: sub;
            font-size: 32px;
        }
        .mapa{
            grid-area: map;
        }
    }
}
@media screen and (max-width: 575px){
    .grid_contacto{
        @include grids_celular;
    }
    .main_contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "form"
        "sub"
        "map";
        .titulo{
            grid-area: titulo;
            font-size: map-get($textSize, titPagCelular);
        }
        .formulario{
            grid-area: form;
            .comentario{
                width: 100%;
                display: flex;
                justify-content: center;
                .text-comentario{
                    width: 60%;
                }
            }
        }
        .subtitulo{
            grid-area: sub;
            font-size: 26px;
        }
        .mapa{
            grid-area: "map";
            width: 100%;
            .map{
                width: 80%;
            }
        }
    }
}