/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px){
    .menu{
        .seccion{
            font-size: 16px;
            display: flex;
            flex-flow: row nowrap;
        }
    }
    .grid_index{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "footer footer footer";
        header{
            grid-area: nav;
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
    }
    .main_index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "titulo titulo"
        "portada portada"
        "arts arts";
        .titulo_slogan{
            grid-area: titulo;
            .titulo_principal{
                text-align: center;
                margin: 0;
                font-size: 70px;
            }
            .slogan{
                width: 700px;
                font-size: 20px;
            }
        }
        .carousel_contenedor{
            grid-area: portada;
        }
        .contenedor_articulos{
            grid-area: arts;
        }
    }
    .contenedor_articulos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "art1 art2"
        "art1 art2"
        "art1 art2";
        .articulo1{
            grid-area: art1;
            .titulo_articulo-index{
                text-align: center;
            }
            .primeros_pasos{
                li{
                    list-style-type: upper-roman;
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    text-indent: 0px;
                    p{
                        text-align: justify;
                        font-weight: 500;
                        font-size: 16px;
                        width: 90%;
                        text-indent: 0px;
                        margin:  5px 20px 20px ;
                        line-height: 1.5;
                        letter-spacing: 0.5px ;
                        white-space: pre-line; /* SALTO DE LINEA */
                    }
                }
            }
        }
        .articulo2{
            grid-area: art2;
            .titulo_articulo-index{
                text-align: center;
            }
            .articulo2_contenido{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                .etiqueta_items{
                    margin-left: 20px;
                    margin-right: 20px;
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px){

    .grid_index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "main"
        "footer";
        header{
            grid-area: nav;
            .menu{
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
    }
    .main_index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo titulo"
        "portada portada"
        "arts arts";
        .titulo_slogan{
            grid-area: titulo;
            .titulo_principal{
                font-size: 50px;
            }
            .slogan{
                font-size: 16px;
                width: 390px;
            }
        }
        .carousel_contenedor{
            grid-area: portada;
        }
        .contenedor_articulos{
            grid-area: arts;
        }
    }
    .contenedor_articulos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "art1"
        "art2";
        .articulo1{
            grid-area: art1;
            .primeros_pasos{
                li{
                    p{
                        width: 90%;
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
        .articulo2{
            grid-area: art2;
            .etiqueta_items{
                width: 85%;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}