// VARIABLE COLORES
$colorPrincipal: black;
$colorSecundario: #610808c4;
$colorTerciario: #EEEBDD;
$colorTextoNav: white;
// MAP FONT-SIZE
$textSize: (
    tituloPrincipal: 100px,
    Slogan: 32px,
    tituloPagina: 50px,
    tituloArticulo: 22px,
    textNav: 20px,
    itemLista: 18px,
    textInfo: 16px
);
// MIXIN
@mixin flex($flex, $orientacion) {
    display: $flex;
    flex-flow: $orientacion;
}

