*{
    margin:0;
    padding:0;
}
body{
    background-color: #EEEBDD;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
html{
    position: relative;
}
.inicio{
    width: 85px;
    height: 120px;
}
/* MENU STICKY */
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
/* MENU DE NAVEGACION DESPLEGABLE*/
nav{
    margin: auto;
    background-color: black;
    font-size: 20px;
    margin-top: 0px;
    height: 130px;
    padding: 10px 0px 0px 0px
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: black;
}
.menu .logo{
    padding-bottom: 0px;
    padding-top: 0px;
}
.menu > li > a{
    display: block;
    padding: 10px 20px;
    color: #EEEBDD;
    text-decoration: none;
    font-size: 10px;
    font-weight: bolder
}
.submenu{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #383838;
    z-index: 1;
    padding-left: 0;
}
.menu li p{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
}
.menu li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
}
.submenu li a{
    display: block;
    color: white;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
    width: 100%;
}
/* EFECTOS PARA EL MENU DE NAVEGACION */
.menu li:hover .submenu{
    display: block;
    transition: all .3s;
}
.submenu li:hover{
    background-color: #0000008a;
    transition: all .3s;
}
.menu li .seccion:hover{
    color: #f80808dc;
    transition: all .3s;
    font-size: 20px;
}
/* PORTADA PRINCIPAL */
.portada_index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* TITULO PRINCIPAL INDEX */
.titulo_slogan{
    margin: 0;
    background-image: linear-gradient(black, #610808c4);
    z-index: 0;
}
.titulo_principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'playfair display';
    font-style: italic;
    font-size: 70px;
    font-weight: bolder ;
    width: 100%;
    color: #EEEBDD;
}
/* SLOGAN DE LA PAGINA */
.slogan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'oswald';
    font-style: italic;
    font-size: 25px;
    width: 100%;
    color: #EEEBDD;
}
/* FOTO DE PORTADA INDEX */
    .carousel-item{
    width: 100%;
    height: auto;
}
/* CONTENIDO DEL INDEX */
.titulo_articulo-index{
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    text-indent: 30px;
    margin: 60px 0px 20px;
    text-decoration: underline;
}
.primeros_pasos li{
    list-style-type: upper-roman;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    text-indent: 70px;
}
.primeros_pasos p{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    text-indent: 0px;
    margin:  5px 100px 20px ;
    line-height: 1.5;
    letter-spacing: 0.5px ;
    white-space: pre-line; /* SALTO DE LINEA */
}
.articulo2_contenido{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}
.etiqueta_vino{
    margin: 0px 60px;
}
.etiqueta_items{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: x-large;
}
.etiqueta_items li{
    font-size: 16px;
}
/* TITULO DE CADA PAGINA */
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'merriweather';
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
    margin: 30px;
}
/* ESTILO PARA CEPAS */
.cepas_contenido ul li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    margin-top: 30px;
    height: 100%;
    width: 95%;
}
.cepas_contenido ul{
    margin-bottom: 35px;
}
.cepas_contenido ul li .cepas_info{ /* SALTO DE LINEA SIN BR */
    white-space: pre-line;
    font-size: 16px;
}
.cepas_img{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 2s;
}
.cepas_img:hover{  /* ANIMACION PARA LAS CEPAS */
    height: 350px;
    width: 350px;
}
.cepas_info{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px ;
    text-align: justify;
}
a.cepa_name{
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
}
img.uva_icono{
    width: 25px;
}
img.referencia{
    width: 25px;
}
/* PAGINA DE CONTACTO */
.formulario{
    margin-bottom: 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 177px;
}
.indicacion{
    font-size: 25px;
    margin: 10px 0px;
}
/* PIE DE PAGINA */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: bolder;
    background-color: black;
    color: #EEEBDD;
    width: 100%;
}
footer a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 40px;
}
.footer_txt{
    margin: 0;
}
/* --------------> GRIDS <-------------- */
/* -------------> INDEX <------------- */
.grid_index{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
header{
grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.main_index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "titulo titulo"
    "portada portada"
    "art1 art2";
}
.titulo_slogan{
    grid-area: titulo;
}
.portada_index{
    grid-area: portada;
}
.articulo1{
    grid-area: art1;
}
.articulo2{
    grid-area: art2;
}

/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px){
    .grid_index{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "footer footer footer";
    }
    header{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .main_index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "titulo titulo"
        "portada portada"
        "art1 art1"
        "art2 art2";
    }
    .titulo_slogan{
        grid-area: titulo;
    }
    .portada_index{
        grid-area: portada;
    }
    .articulo1{
        grid-area: art1;
    }
    .articulo2{
        grid-area: art2;
    }
    .menu .seccion{
        font-size: 16px;
        text-align: center;
    }
}
/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px){
    .grid_index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "main"
        "footer";
    }
    header{
        grid-area: nav;
        position: relative;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
    }
    footer a img{
        margin: 0;
    }
    footer p{
        margin-top: 5px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .main_index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "portada"
        "art1"
        "art2";
        margin-top: 260px;
    }
    .titulo_slogan{
        grid-area: titulo;
    }
    .titulo_principal{
        font-size: 30px;
    }
    .slogan{
        font-size: 20px;
    }
    .portada_index{
        grid-area: portada;
    }
    .articulo1{
        grid-area: art1;
    }
    .primeros_pasos p{
        margin: 5px 30px 20px;
    }
    .articulo2{
        grid-area: art2;
    }
    .titulo_articulo-index{
        text-align: center;
        width: auto;
    }
    .articulo2_contenido{
        display: flex;
        flex-flow: column nowrap;
    }
    .titulo_articulo-index{
        text-align: center;
    }
    .etiqueta_vino{
        margin-bottom: 15px;
    }
    .etiqueta_items{
        text-align: left;
        height: auto;
        width: 90%;
        margin-left: 70px;
    }
    .etiqueta_items li{
        font-size: 16px;
    }
}
/* --------------> GIRDS <-------------- */
/* -------------> CEPAS <------------- */
.grid_cepas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
header{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.main_cepas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "cepas";
}
.titulo{
    grid-area: titulo;
}
.cepas_contenido{
    grid-area: cepas;
}
/* --------> MEDIA QUERY: CEPAS <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
    .grid_cepas{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "footer footer footer";
    }
    header{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .main_cepas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titulo"
        "cepas";
    }
    .titulo{
        grid-area: titulo;
    }
    .cepas_contenido{
        grid-area: cepas;
    }
}
/* --------> MEDIA QUERY: CEPAS <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px){
    .grid_cepas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "main"
        "footer";
    }
    header{
        grid-area: nav;
        position: relative;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
    }
    footer a img{
        margin: 0;
    }
    footer p{
        margin-top: 5px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .main_cepas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "cepas";
        margin-top: 260px;
    }
    .titulo{
        grid-area: titulo;
    }
    .cepas_contenido{
        grid-area: cepas;
    }
    .cepas_contenido ul li{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: left;
        margin-top: 30px;
        height: 100%;
        width: 90%;
        margin-left: 15px;
    }
}
/* --------------> GIRDS <-------------- */
/* -------------> CONTACTO <------------- */
.grid_contacto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
header{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
/* --------> MEDIA QUERY: CONTACTO <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
    .grid_contacto{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "footer footer footer";
    }
    .header{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
        margin-top: 138px;
    }
}
/* --------> MEDIA QUERY: CONTACTO <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px){
    .grid_contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "main"
        "footer";
    }
    header{
        grid-area: nav;
        position: relative;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
    }
    footer a img{
        margin: 0;
    }
    footer p{
        margin-top: 5px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .main_contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "titulo"
        "formulario";
        margin-top: 260px;
    }
    .titulo{
        grid-area: titulo;
    }
    .formulario{
        grid-area: formulario;
    }
}