/* MAIN */
.main_index {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%235f091c' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main_index .titulo_slogan {
    margin: 0;
    background-image: linear-gradient(black, #5f091c);
    z-index: 0; }
    .main_index .titulo_slogan .titulo_principal, .main_index .titulo_slogan .slogan {
      display: flex;
      flex-flow: row;
      justify-content: center;
      text-align: center;
      font-family: 'playfair display';
      font-style: italic;
      font-size: 100px;
      font-weight: bolder;
      color: #EEEBDD; }
    .main_index .titulo_slogan .slogan {
      font-family: 'oswald';
      font-size: 32px;
      margin: 0; }
  .main_index .carousel-inner .carousel-item img.d-block.w-100 {
    width: 100%;
    height: auto; }
  .main_index .contenedor_articulos .articulo1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .main_index .contenedor_articulos .articulo1 .titulo_articulo-index {
      font-weight: bolder;
      font-size: 22px;
      margin: 20px 0px 20px 0px;
      text-decoration: underline;
      text-align: center; }
    .main_index .contenedor_articulos .articulo1 .primeros_pasos {
      display: flex;
      flex-flow: column; }
      .main_index .contenedor_articulos .articulo1 .primeros_pasos li {
        list-style-type: upper-roman;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        width: auto;
        color: #610808c4; }
        .main_index .contenedor_articulos .articulo1 .primeros_pasos li p {
          text-align: justify;
          font-weight: 500;
          font-size: 16px;
          text-indent: 10px;
          white-space: pre-line;
          /* SALTO DE LINEA */
          width: 90%;
          margin: 2%;
          color: black; }
        .main_index .contenedor_articulos .articulo1 .primeros_pasos li ul {
          font-size: 16px;
          font-weight: 500;
          color: black; }
  .main_index .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .main_index .contenedor_articulos .articulo2 .titulo_articulo-index {
      font-weight: bolder;
      font-size: 22px;
      margin: 20px 0px 20px 0px;
      text-decoration: underline;
      text-align: center; }
    .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta {
      width: 50%; }
    .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items {
      display: flex;
      flex-flow: column;
      height: 300px;
      justify-content: space-evenly; }
      .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items li {
        font-size: 16px;
        font-weight: 500;
        width: 95%; }

.main_cepas {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%235f091c' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main_cepas .titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'merriweather';
    font-style: italic;
    font-size: 70px;
    text-decoration: underline;
    margin: 4% 0; }
  .main_cepas .cepas_contenido ul {
    margin-bottom: 35px;
    list-style: none;
    padding: 0; }
    .main_cepas .cepas_contenido ul li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: left;
      margin-top: 30px;
      width: 95%; }
      .main_cepas .cepas_contenido ul li .cepas_img {
        height: 200px;
        width: 200px;
        margin-left: 15px;
        margin-right: 15px;
        transition: all 2s; }
        .main_cepas .cepas_contenido ul li .cepas_img:hover {
          /* EFECTO PARA LAS CEPAS */
          height: 270px;
          width: 270px; }
      .main_cepas .cepas_contenido ul li .cepas_info {
        /* SALTO DE LINEA SIN BR */
        white-space: pre-line;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: justify; }
        .main_cepas .cepas_contenido ul li .cepas_info .cepa_name {
          font-size: 22px;
          font-weight: 800;
          text-decoration: underline;
          color: black; }
        .main_cepas .cepas_contenido ul li .cepas_info .referencia {
          width: 25px; }

.main_elabTinto {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%235f091c' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main_elabTinto .titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'merriweather';
    font-style: italic;
    font-size: 70px;
    text-decoration: underline;
    margin: 4% 0; }
  .main_elabTinto .proceso_tinto {
    align-items: center;
    justify-items: center;
    margin-bottom: 2%; }
    .main_elabTinto .proceso_tinto .carousel.slide {
      width: 70%; }
    .main_elabTinto .proceso_tinto .et_img {
      width: 70%; }
    .main_elabTinto .proceso_tinto .et_info {
      margin: 0; }
      .main_elabTinto .proceso_tinto .et_info .et_tittle {
        text-align: center;
        width: auto;
        margin: auto;
        height: 50px;
        font-size: 22px; }
      .main_elabTinto .proceso_tinto .et_info .et_txt {
        font-size: 16px;
        width: 90%;
        text-align: justify;
        margin: auto; }

.main_elabBlanco {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%235f091c' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main_elabBlanco .titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'merriweather';
    font-style: italic;
    font-size: 70px;
    text-decoration: underline;
    margin: 4% 0;
    margin-bottom: 15px; }
  .main_elabBlanco .proceso_blanco {
    align-items: center;
    justify-items: center;
    margin-bottom: 2%; }
    .main_elabBlanco .proceso_blanco .carousel.slide {
      width: 70%; }
    .main_elabBlanco .proceso_blanco .eb_img {
      width: 70%; }
    .main_elabBlanco .proceso_blanco .eb_info {
      margin: 0; }
      .main_elabBlanco .proceso_blanco .eb_info .eb_tittle {
        text-align: center;
        width: auto;
        margin: auto;
        height: 50px;
        font-size: 22px; }
      .main_elabBlanco .proceso_blanco .eb_info .eb_txt {
        font-size: 16px;
        width: 90%;
        text-align: justify;
        margin: auto; }

.main_contacto {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%235f091c' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .main_contacto .titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'merriweather';
    font-style: italic;
    font-size: 70px;
    text-decoration: underline;
    margin: 4% 0; }
  .main_contacto .formulario {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    width: 100%; }
    .main_contacto .formulario .indicacion {
      font-size: 20px;
      margin: 10px 0px; }

/* --------> GRIDS: INDEX <------- */
.grid_index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav nav" "main main main main" "footer footer footer footer"; }
  .grid_index header {
    grid-area: nav; }
  .grid_index main {
    grid-area: main; }
  .grid_index footer {
    grid-area: footer; }

.main_index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "titulo titulo" "carousel carousel" "arts arts"; }
  .main_index .titulo_slogan {
    grid-area: titulo; }
  .main_index .portada_index {
    grid-area: carousel; }
  .main_index .contenedor_articulos {
    grid-area: arts; }

.contenedor_articulos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "art1 art2" "art1 art2"; }
  .contenedor_articulos .articulo1 {
    grid-area: art1; }
  .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
    grid-area: art2; }

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "txt"; }
  footer a {
    grid-area: logo;
    align-self: center;
    justify-self: center; }
  footer .footer_txt {
    grid-area: txt;
    align-self: center;
    justify-self: center; }

/* --------> GRIDS: CEPAS <------- */
.grid_cepas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav nav" "main main main main" "footer footer footer footer"; }
  .grid_cepas header {
    grid-area: nav; }
  .grid_cepas main {
    grid-area: main; }
  .grid_cepas footer {
    grid-area: footer; }

/* --------> GRIDS: ELABORACION <------- */
.grid_elaboracion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav nav" "main main main main" "footer footer footer footer"; }
  .grid_elaboracion header {
    grid-area: nav; }
  .grid_elaboracion main {
    grid-area: main; }
  .grid_elaboracion footer {
    grid-area: footer; }

.proceso_tinto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3%;
  grid-template-areas: "cose car1" "car2 cyt" "rece img1" "car3 despa" "pren car5" "car4 ferm" "mace img2" "img3 descu" "clari img4" "img5 estab" "fil img6" "car6 crian" "embo img7"; }
  .proceso_tinto .et_info.n1 {
    grid-area: cose; }
  .proceso_tinto .ct1 {
    grid-area: car1; }
  .proceso_tinto .et_info.n2 {
    grid-area: cyt; }
  .proceso_tinto .ct2 {
    grid-area: car2; }
  .proceso_tinto .et_info.n3 {
    grid-area: rece; }
  .proceso_tinto .et_img.n1 {
    grid-area: img1; }
  .proceso_tinto .et_info.n4 {
    grid-area: despa; }
  .proceso_tinto .ct3 {
    grid-area: car3; }
  .proceso_tinto .et_info.n5 {
    grid-area: mace; }
  .proceso_tinto .et_img.n2 {
    grid-area: img2; }
  .proceso_tinto .et_info.n6 {
    grid-area: pren; }
  .proceso_tinto .ct4 {
    grid-area: car5; }
  .proceso_tinto .et_info.n7 {
    grid-area: ferm; }
  .proceso_tinto .ct5 {
    grid-area: car4; }
  .proceso_tinto .et_info.n8 {
    grid-area: descu; }
  .proceso_tinto .et_img.n3 {
    grid-area: img3; }
  .proceso_tinto .et_info.n9 {
    grid-area: clari; }
  .proceso_tinto .et_img.n4 {
    grid-area: img4; }
  .proceso_tinto .et_info.n10 {
    grid-area: estab; }
  .proceso_tinto .et_img.n5 {
    grid-area: img5; }
  .proceso_tinto .et_info.n11 {
    grid-area: fil; }
  .proceso_tinto .et_img.n6 {
    grid-area: img6; }
  .proceso_tinto .et_info.n12 {
    grid-area: crian; }
  .proceso_tinto .ct6 {
    grid-area: car6; }
  .proceso_tinto .et_info.n13 {
    grid-area: embo; }
  .proceso_tinto .et_img.n7 {
    grid-area: img7; }

.proceso_blanco {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "cose cb1" "cb2 cyt" "rece img1" "cb3 despa" "pren cb4" "cb5 ferm" "fil img2" "cb6 emb"; }
  .proceso_blanco .eb_info.n1 {
    grid-area: cose; }
  .proceso_blanco .cb1 {
    grid-area: cb1; }
  .proceso_blanco .eb_info.n2 {
    grid-area: cyt; }
  .proceso_blanco .cb2 {
    grid-area: cb2; }
  .proceso_blanco .eb_info.n3 {
    grid-area: rece; }
  .proceso_blanco .eb_img.n1 {
    grid-area: img1; }
  .proceso_blanco .eb_info.n4 {
    grid-area: despa; }
  .proceso_blanco .cb3 {
    grid-area: cb3; }
  .proceso_blanco .eb_info.n5 {
    grid-area: pren; }
  .proceso_blanco .cb4 {
    grid-area: cb4; }
  .proceso_blanco .eb_info.n6 {
    grid-area: ferm; }
  .proceso_blanco .cb5 {
    grid-area: cb5; }
  .proceso_blanco .eb_info.n7 {
    grid-area: fil; }
  .proceso_blanco .eb_img.n2 {
    grid-area: img2; }
  .proceso_blanco .eb_info.n8 {
    grid-area: emb; }
  .proceso_blanco .cb6 {
    grid-area: cb6; }

/* --------> GRIDS: CONTACTO <------- */
.grid_contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .grid_contacto header {
    grid-area: header; }
  .grid_contacto main {
    grid-area: main; }
  .grid_contacto footer {
    grid-area: footer; }

.main_contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "form form form form"; }
  .main_contacto .titulo {
    grid-area: titulo; }
  .main_contacto .formulario {
    grid-area: form; }

/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_index header {
      position: relative;
      grid-area: nav;
      padding: 0; }
      .grid_index header nav .menu-contenedor {
        font-size: 16px;
        display: flex;
        flex-flow: column nowrap; }
        .grid_index header nav .menu-contenedor .contenedor-lista {
          width: 100%;
          text-align: center; }
          .grid_index header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
            text-align: center;
            font-size: 20px; }
    .grid_index main {
      grid-area: main; }
    .grid_index footer {
      grid-area: footer; }
  .main_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo" "portada portada" "arts arts"; }
    .main_index .titulo_slogan {
      grid-area: titulo; }
      .main_index .titulo_slogan .titulo_principal, .main_index .titulo_slogan .slogan {
        text-align: center;
        margin: 0;
        font-size: 70px; }
      .main_index .titulo_slogan .slogan {
        font-size: 20px; }
    .main_index .portada_index {
      grid-area: portada; }
    .main_index .contenedor_articulos {
      grid-area: arts; }
  .contenedor_articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "art1 art2" "art1 art2" "art1 art2"; }
    .contenedor_articulos .articulo1 {
      grid-area: art1; }
      .contenedor_articulos .articulo1 .titulo_articulo-index {
        text-align: center; }
      .contenedor_articulos .articulo1 .primeros_pasos li {
        list-style-type: upper-roman;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        text-indent: 0px; }
        .contenedor_articulos .articulo1 .primeros_pasos li p {
          text-align: justify;
          font-weight: 500;
          font-size: 16px;
          width: 90%;
          text-indent: 0px;
          margin: 5px 20px 20px;
          line-height: 1.5;
          letter-spacing: 0.5px;
          white-space: pre-line; }
    .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
      grid-area: art2; }
      .contenedor_articulos .articulo2 .titulo_articulo-index, .main_index .contenedor_articulos .articulo2 .etiqueta_vino .titulo_articulo-index {
        text-align: center; }
      .contenedor_articulos .articulo2 .etiqueta_vino, .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_vino {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px; }
        .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items {
          margin-left: 20px;
          margin-right: 20px; }
          .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items li {
            font-size: 16px; } }

/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 575px) {
  .grid_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_index header {
      grid-area: nav;
      padding: 0; }
      .grid_index header nav {
        padding-bottom: 20px; }
        .grid_index header nav .menu-contenedor {
          display: flex;
          flex-flow: column nowrap;
          margin: 0;
          padding: 0; }
          .grid_index header nav .menu-contenedor .logo .logo-index {
            padding-bottom: 20px; }
          .grid_index header nav .menu-contenedor .boton-nav {
            color: #5f091c; }
          .grid_index header nav .menu-contenedor .contenedor-lista {
            text-align: center; }
            .grid_index header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
              text-align: center;
              font-size: 20px; }
    .grid_index main {
      grid-area: main; }
    .grid_index footer {
      grid-area: footer; }
  .main_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "portada" "arts"; }
    .main_index .titulo_slogan {
      grid-area: titulo; }
      .main_index .titulo_slogan .titulo_principal, .main_index .titulo_slogan .slogan {
        font-size: 40px; }
      .main_index .titulo_slogan .slogan {
        font-size: 14px;
        width: auto; }
    .main_index .portada_index {
      grid-area: portada; }
    .main_index .contenedor_articulos {
      grid-area: arts; }
  .contenedor_articulos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "art1" "art2"; }
    .contenedor_articulos .articulo1 {
      grid-area: art1; }
      .contenedor_articulos .articulo1 .titulo_articulo-index {
        display: flex;
        justify-content: center; }
      .contenedor_articulos .articulo1 .primeros_pasos li {
        width: 100vw; }
    .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
      grid-area: art2;
      display: flex;
      flex-flow: column nowrap; }
      .contenedor_articulos .articulo2 .titulo_articulo-index, .main_index .contenedor_articulos .articulo2 .etiqueta_vino .titulo_articulo-index {
        display: flex;
        justify-content: center; } }

/* --------> MEDIA QUERY: CEPAS <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_cepas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_cepas header {
      position: relative;
      grid-area: nav;
      padding: 0; }
      .grid_cepas header nav .menu-contenedor {
        font-size: 16px;
        display: flex;
        flex-flow: column nowrap; }
        .grid_cepas header nav .menu-contenedor .contenedor-lista {
          width: 100%;
          text-align: center; }
          .grid_cepas header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
            text-align: center;
            font-size: 20px; }
    .grid_cepas main {
      grid-area: main; }
    .grid_cepas footer {
      grid-area: footer; }
  .main_cepas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "cepas"; }
    .main_cepas .titulo {
      grid-area: titulo;
      font-size: 40px; }
    .main_cepas .cepas_contenido {
      grid-area: cepas; } }

/* --------> MEDIA QUERY: CEPAS <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 575px) {
  .grid_cepas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_cepas header {
      grid-area: nav;
      padding: 0; }
      .grid_cepas header nav {
        padding-bottom: 20px; }
        .grid_cepas header nav .menu-contenedor {
          display: flex;
          flex-flow: column nowrap;
          margin: 0;
          padding: 0; }
          .grid_cepas header nav .menu-contenedor .logo .logo-index {
            padding-bottom: 20px; }
          .grid_cepas header nav .menu-contenedor .boton-nav {
            color: #5f091c; }
          .grid_cepas header nav .menu-contenedor .contenedor-lista {
            text-align: center; }
            .grid_cepas header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
              text-align: center;
              font-size: 20px; }
    .grid_cepas main {
      grid-area: main; }
    .grid_cepas footer {
      grid-area: footer; }
  .main_cepas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "cepas"; }
    .main_cepas .titulo {
      grid-area: titulo;
      font-size: 35px; }
    .main_cepas .cepas_contenido {
      grid-area: cepas; }
      .main_cepas .cepas_contenido ul li {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: left;
        margin-top: 30px;
        height: 100%;
        width: 90%;
        margin-left: 15px; } }

/* --------> MEDIA QUERY: ELABORACION <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_elaboracion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_elaboracion header {
      position: relative;
      grid-area: nav;
      padding: 0; }
      .grid_elaboracion header nav .menu-contenedor {
        font-size: 16px;
        display: flex;
        flex-flow: column nowrap; }
        .grid_elaboracion header nav .menu-contenedor .contenedor-lista {
          width: 100%;
          text-align: center; }
          .grid_elaboracion header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
            text-align: center;
            font-size: 20px; }
    .grid_elaboracion main {
      grid-area: main; }
    .grid_elaboracion footer {
      grid-area: footer; }
  .main_elabTinto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabTinto .titulo {
      grid-area: titulo;
      font-size: 40px;
      margin: 10px 0px 35px; }
    .main_elabTinto .proceso_tinto {
      grid-area: proceso;
      display: flex;
      flex-flow: column nowrap; }
      .main_elabTinto .proceso_tinto .et_info .et_tittle {
        font-size: 25px;
        width: auto;
        margin: 0;
        height: 50px;
        text-align: center; }
  .main_elabBlanco {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabBlanco .titulo {
      grid-area: titulo;
      font-size: 40px;
      margin: 10px 0px 35px; }
    .main_elabBlanco .proceso_blanco {
      grid-area: proceso;
      display: flex;
      flex-flow: column nowrap; }
      .main_elabBlanco .proceso_blanco .eb_info .eb_tittle {
        font-size: 25px;
        width: auto;
        margin: 0;
        height: 50px;
        text-align: center; } }

/* --------> MEDIA QUERY: ELABORACION <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 575px) {
  .grid_elaboracion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_elaboracion header {
      grid-area: nav;
      padding: 0; }
      .grid_elaboracion header nav {
        padding-bottom: 20px; }
        .grid_elaboracion header nav .menu-contenedor {
          display: flex;
          flex-flow: column nowrap;
          margin: 0;
          padding: 0; }
          .grid_elaboracion header nav .menu-contenedor .logo .logo-index {
            padding-bottom: 20px; }
          .grid_elaboracion header nav .menu-contenedor .boton-nav {
            color: #5f091c; }
          .grid_elaboracion header nav .menu-contenedor .contenedor-lista {
            text-align: center; }
            .grid_elaboracion header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
              text-align: center;
              font-size: 20px; }
    .grid_elaboracion main {
      grid-area: main; }
    .grid_elaboracion footer {
      grid-area: footer; }
  .main_elabTinto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabTinto .titulo {
      grid-area: titulo;
      font-size: 28px;
      margin: 10px 0px 35px; }
    .main_elabTinto .proceso_tinto {
      grid-area: proceso;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 100vw; }
      .main_elabTinto .proceso_tinto .et_info {
        width: 90vw;
        margin: 0; }
        .main_elabTinto .proceso_tinto .et_info .et_tittle {
          font-size: 20px;
          width: auto;
          margin: 0;
          height: 30px;
          text-align: center; }
      .main_elabTinto .proceso_tinto .carousel-inner {
        margin-bottom: 50px; }
      .main_elabTinto .proceso_tinto .et_img {
        margin-bottom: 50px; }
  .main_elabBlanco {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabBlanco .titulo {
      grid-area: titulo;
      font-size: 28px;
      margin: 10px 0px 35px; }
    .main_elabBlanco .proceso_blanco {
      grid-area: proceso;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 100vw; }
      .main_elabBlanco .proceso_blanco .eb_info {
        width: 90vw;
        margin: 0; }
        .main_elabBlanco .proceso_blanco .eb_info .eb_tittle {
          font-size: 20px;
          width: auto;
          margin: 0;
          height: 30px;
          text-align: center; }
      .main_elabBlanco .proceso_blanco .carousel-inner {
        margin-bottom: 50px; }
      .main_elabBlanco .proceso_blanco .eb_img {
        margin-bottom: 50px; } }

/* --------> MEDIA QUERY: CONTACTO <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_contacto header {
      position: relative;
      grid-area: nav;
      padding: 0; }
      .grid_contacto header nav .menu-contenedor {
        font-size: 16px;
        display: flex;
        flex-flow: column nowrap; }
        .grid_contacto header nav .menu-contenedor .contenedor-lista {
          width: 100%;
          text-align: center; }
          .grid_contacto header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
            text-align: center;
            font-size: 20px; }
    .grid_contacto main {
      grid-area: main; }
    .grid_contacto footer {
      grid-area: footer; }
  .main_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "form"; }
    .main_contacto .titulo {
      grid-area: titulo;
      font-size: 40px; }
    .main_contacto .formulario {
      grid-area: form; } }

/* --------> MEDIA QUERY: CONTACTO <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 575px) {
  .grid_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_contacto header {
      grid-area: nav;
      padding: 0; }
      .grid_contacto header nav {
        padding-bottom: 20px; }
        .grid_contacto header nav .menu-contenedor {
          display: flex;
          flex-flow: column nowrap;
          margin: 0;
          padding: 0; }
          .grid_contacto header nav .menu-contenedor .logo .logo-index {
            padding-bottom: 20px; }
          .grid_contacto header nav .menu-contenedor .boton-nav {
            color: #5f091c; }
          .grid_contacto header nav .menu-contenedor .contenedor-lista {
            text-align: center; }
            .grid_contacto header nav .menu-contenedor .contenedor-lista .lista-nav .nav-seccion li .seccion-link {
              text-align: center;
              font-size: 20px; }
    .grid_contacto main {
      grid-area: main; }
    .grid_contacto footer {
      grid-area: footer; }
  .main_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "form"; }
    .main_contacto .titulo {
      grid-area: titulo;
      font-size: 35px; }
    .main_contacto .formulario {
      grid-area: form; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EEEBDD;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

/* HEADER */
header .navbar .menu-contenedor {
  padding: 0; }
  header .navbar .menu-contenedor .logo {
    margin: 0; }
    header .navbar .menu-contenedor .logo .logo-index {
      width: 150px; }
  header .navbar .menu-contenedor .contenedor-lista .lista-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .link-pagina {
      color: white;
      font-size: 20px; }
      header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .link-pagina:hover {
        color: red; }
    header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion {
      background-color: darkgray; }
      header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vt, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vb, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.eb, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.et {
        color: black;
        font-weight: 700; }
        header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vt:hover, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vb:hover, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.eb:hover, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.et:hover {
          color: white;
          background-color: #383838; }
        header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vt:active, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vb:active, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.eb:active, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.et:active {
          background-color: #5f091c;
          color: white; }
      header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vb:hover, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.eb:hover {
        color: white;
        background-color: #383838; }
      header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.vb:active, header .navbar .menu-contenedor .contenedor-lista .lista-nav .nav-item .nav-seccion li .seccion-link.eb:active {
        background-color: #5e7943;
        color: white; }

/* FOOTER */
footer {
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
  background-color: black;
  color: #EEEBDD; }
  footer a {
    width: 30px;
    height: 40px;
    padding: 0; }
    footer a img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px; }
  footer .footer_txt {
    margin: 0;
    padding: 0;
    text-align: center; }
