/* MAIN */
.main_index .titulo_slogan {
  margin: 0;
  background-image: linear-gradient(black, #610808c4);
  z-index: 0; }
  .main_index .titulo_slogan .titulo_principal, .main_index .titulo_slogan .slogan {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    font-family: 'playfair display';
    font-style: italic;
    font-size: 100px;
    font-weight: bolder;
    color: #EEEBDD; }
  .main_index .titulo_slogan .slogan {
    font-family: 'oswald';
    font-size: 32px;
    width: 100vw;
    margin: 0; }

.main_index .carousel-inner .carousel-item img.d-block.w-100 {
  width: 100%;
  height: auto; }

.main_index .contenedor_articulos .articulo1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .main_index .contenedor_articulos .articulo1 .titulo_articulo-index {
    font-weight: bolder;
    font-size: 22px;
    margin: 20px 0px 20px 0px;
    text-decoration: underline;
    text-align: center; }
  .main_index .contenedor_articulos .articulo1 .primeros_pasos {
    display: flex;
    flex-flow: column; }
    .main_index .contenedor_articulos .articulo1 .primeros_pasos li {
      list-style-type: upper-roman;
      text-align: left;
      font-weight: bold;
      font-size: 18px;
      width: auto; }
      .main_index .contenedor_articulos .articulo1 .primeros_pasos li p {
        text-align: justify;
        font-weight: 500;
        font-size: 16px;
        text-indent: 10px;
        white-space: pre-line;
        /* SALTO DE LINEA */
        width: 90%;
        margin: 2%; }
      .main_index .contenedor_articulos .articulo1 .primeros_pasos li ul {
        font-size: 16px;
        font-weight: 500; }

.main_index .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .main_index .contenedor_articulos .articulo2 .titulo_articulo-index {
    font-weight: bolder;
    font-size: 22px;
    margin: 20px 0px 20px 0px;
    text-decoration: underline;
    text-align: center; }
  .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta {
    width: 50%; }
  .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items {
    display: flex;
    flex-flow: column;
    height: 300px;
    justify-content: space-evenly; }
    .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items li {
      font-size: 16px;
      font-weight: 500;
      width: 95%; }

.main_cepas .titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'merriweather';
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 10px; }

.main_cepas .cepas_contenido ul {
  margin-bottom: 35px;
  list-style: none;
  padding: 0; }
  .main_cepas .cepas_contenido ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    margin-top: 30px;
    width: 95%; }
    .main_cepas .cepas_contenido ul li .cepas_img {
      height: 200px;
      width: 200px;
      margin-left: 15px;
      margin-right: 15px;
      transition: all 2s; }
      .main_cepas .cepas_contenido ul li .cepas_img:hover {
        /* EFECTO PARA LAS CEPAS */
        height: 270px;
        width: 270px; }
    .main_cepas .cepas_contenido ul li .cepas_info {
      /* SALTO DE LINEA SIN BR */
      white-space: pre-line;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: justify; }
      .main_cepas .cepas_contenido ul li .cepas_info .cepa_name {
        font-size: 22px;
        font-weight: 800;
        text-decoration: underline;
        color: black; }
      .main_cepas .cepas_contenido ul li .cepas_info .referencia {
        width: 25px; }

.main_elabTinto .titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'merriweather';
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 15px; }

.proceso_tinto {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  margin-bottom: 2%; }
  .proceso_tinto .carousel.slide {
    width: 70%; }
  .proceso_tinto .et_img {
    width: 70%; }
  .proceso_tinto .et_info.n7 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .proceso_tinto .et_info {
    margin: 0; }
    .proceso_tinto .et_info .et_tittle {
      text-align: center;
      width: auto;
      margin: auto;
      height: 50px;
      font-size: 22px;
      animation: moverTexto 5s infinite; }
    .proceso_tinto .et_info .et_txt {
      font-size: 16px;
      width: 90%;
      text-align: justify;
      margin: auto; }

.main_elabBlanco .titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'merriweather';
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 10px; }

.main_contacto .titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'merriweather';
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 10px; }

.main_contacto .formulario {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 8.7%;
  width: 100%; }
  .main_contacto .formulario .indicacion {
    font-size: 20px;
    margin: 10px 0px; }

/* --------> GRIDS: INDEX <------- */
.grid_index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .grid_index header {
    grid-area: header; }
  .grid_index main {
    grid-area: main; }
  .grid_index footer {
    grid-area: footer; }

.main_index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "titulo titulo" "carousel carousel" "arts arts"; }
  .main_index .titulo_slogan {
    grid-area: titulo; }
  .main_index .portada_index {
    grid-area: carousel; }
  .main_index .contenedor_articulos {
    grid-area: arts; }

.contenedor_articulos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "art1 art2" "art1 art2"; }
  .contenedor_articulos .articulo1 {
    grid-area: art1; }
  .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
    grid-area: art2; }

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "txt"; }
  footer a {
    grid-area: logo;
    align-self: center;
    justify-self: center; }
  footer .footer_txt {
    grid-area: txt;
    align-self: center;
    justify-self: center; }

/* --------> GRIDS: CEPAS <------- */
.grid_cepas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .grid_cepas header {
    grid-area: header; }
  .grid_cepas main {
    grid-area: main; }
  .grid_cepas footer {
    grid-area: footer; }

/* --------> GRIDS: ELABORACION <------- */
.grid_elaboracion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .grid_elaboracion header {
    grid-area: header; }
  .grid_elaboracion main {
    grid-area: main; }
  .grid_elaboracion footer {
    grid-area: footer; }

.proceso_tinto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "cose car1" "car2 cyt" "rece img1" "car3 despa" "pren car5" "car4 ferm" "mace img2" "img3 descu" "clari img4" "img5 estab" "fil img6" "car6 crian" "embo img7"; }
  .proceso_tinto .et_info.n1 {
    grid-area: cose; }
  .proceso_tinto .ct1 {
    grid-area: car1; }
  .proceso_tinto .et_info.n2 {
    grid-area: cyt; }
  .proceso_tinto .ct2 {
    grid-area: car2; }
  .proceso_tinto .et_info.n3 {
    grid-area: rece; }
  .proceso_tinto .et_img.n1 {
    grid-area: img1; }
  .proceso_tinto .et_info.n4 {
    grid-area: despa; }
  .proceso_tinto .ct3 {
    grid-area: car3; }
  .proceso_tinto .et_info.n5 {
    grid-area: mace; }
  .proceso_tinto .et_img.n2 {
    grid-area: img2; }
  .proceso_tinto .et_info.n6 {
    grid-area: pren; }
  .proceso_tinto .ct4 {
    grid-area: car5; }
  .proceso_tinto .et_info.n7 {
    grid-area: ferm; }
  .proceso_tinto .ct5 {
    grid-area: car4; }
  .proceso_tinto .et_info.n8 {
    grid-area: descu; }
  .proceso_tinto .et_img.n3 {
    grid-area: img3; }
  .proceso_tinto .et_info.n9 {
    grid-area: clari; }
  .proceso_tinto .et_img.n4 {
    grid-area: img4; }
  .proceso_tinto .et_info.n10 {
    grid-area: estab; }
  .proceso_tinto .et_img.n5 {
    grid-area: img5; }
  .proceso_tinto .et_info.n11 {
    grid-area: fil; }
  .proceso_tinto .et_img.n6 {
    grid-area: img6; }
  .proceso_tinto .et_info.n12 {
    grid-area: crian; }
  .proceso_tinto .ct6 {
    grid-area: car6; }
  .proceso_tinto .et_info.n13 {
    grid-area: embo; }
  .proceso_tinto .et_img.n7 {
    grid-area: img7; }

/* --------> GRIDS: CONTACTO <------- */
.grid_contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }
  .grid_contacto header {
    grid-area: header; }
  .grid_contacto main {
    grid-area: main; }
  .grid_contacto footer {
    grid-area: footer; }

.main_contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "titulo titulo titulo titulo" "form form form form"; }
  .main_contacto .titulo {
    grid-area: titulo; }
  .main_contacto .formulario {
    grid-area: form; }

/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_index header {
      grid-area: nav;
      padding: 10px 0px 5px 0px; }
      .grid_index header .menu .seccion {
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap; }
    .grid_index main {
      grid-area: main; }
    .grid_index footer {
      grid-area: footer; }
  .main_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo" "portada portada" "arts arts"; }
    .main_index .titulo_slogan {
      grid-area: titulo; }
      .main_index .titulo_slogan .titulo_principal, .main_index .titulo_slogan .slogan {
        text-align: center;
        margin: 0;
        font-size: 70px; }
      .main_index .titulo_slogan .slogan {
        font-size: 20px; }
    .main_index .portada_index {
      grid-area: portada; }
    .main_index .contenedor_articulos {
      grid-area: arts; }
  .contenedor_articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "art1 art2" "art1 art2" "art1 art2"; }
    .contenedor_articulos .articulo1 {
      grid-area: art1; }
      .contenedor_articulos .articulo1 .titulo_articulo-index {
        text-align: center; }
      .contenedor_articulos .articulo1 .primeros_pasos li {
        list-style-type: upper-roman;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        text-indent: 0px; }
        .contenedor_articulos .articulo1 .primeros_pasos li p {
          text-align: justify;
          font-weight: 500;
          font-size: 16px;
          width: 90%;
          text-indent: 0px;
          margin: 5px 20px 20px;
          line-height: 1.5;
          letter-spacing: 0.5px;
          white-space: pre-line;
          /* SALTO DE LINEA */ }
    .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
      grid-area: art2; }
      .contenedor_articulos .articulo2 .titulo_articulo-index, .main_index .contenedor_articulos .articulo2 .etiqueta_vino .titulo_articulo-index {
        text-align: center; }
      .contenedor_articulos .articulo2 .etiqueta_vino, .main_index .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_vino {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px; }
        .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items {
          margin-left: 20px;
          margin-right: 20px; }
          .contenedor_articulos .articulo2 .etiqueta_vino .etiqueta_items li {
            font-size: 16px; } }

/* --------> MEDIA QUERY: INDEX <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px) {
  .grid_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_index header {
      grid-area: nav;
      position: relative; }
      .grid_index header .menu {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0; }
        .grid_index header .menu li {
          padding-bottom: 10px; }
          .grid_index header .menu li .submenu {
            width: 40%; }
            .grid_index header .menu li .submenu .sm_item {
              font-size: 15px; }
    .grid_index main {
      grid-area: main; }
    .grid_index footer {
      grid-area: footer; }
  .main_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "portada" "arts"; }
    .main_index .titulo_slogan {
      grid-area: titulo; }
      .main_index .titulo_slogan .titulo_principal, .main_index .titulo_slogan .slogan {
        font-size: 40px; }
      .main_index .titulo_slogan .slogan {
        font-size: 14px;
        width: auto; }
    .main_index .portada_index {
      grid-area: portada; }
    .main_index .contenedor_articulos {
      grid-area: arts; }
  .contenedor_articulos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "art1" "art2"; }
    .contenedor_articulos .articulo1 {
      grid-area: art1; }
      .contenedor_articulos .articulo1 .titulo_articulo-index {
        display: flex;
        justify-content: center; }
      .contenedor_articulos .articulo1 .primeros_pasos li {
        width: 100vw; }
    .contenedor_articulos .articulo2, .main_index .contenedor_articulos .articulo2 .etiqueta_vino {
      grid-area: art2;
      display: flex;
      flex-flow: column nowrap; }
      .contenedor_articulos .articulo2 .titulo_articulo-index, .main_index .contenedor_articulos .articulo2 .etiqueta_vino .titulo_articulo-index {
        display: flex;
        justify-content: center; } }

/* --------> MEDIA QUERY: CEPAS <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_cepas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_cepas header {
      grid-area: nav;
      padding: 10px 0px 5px 0px; }
      .grid_cepas header .menu .seccion {
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap; }
    .grid_cepas main {
      grid-area: main; }
    .grid_cepas footer {
      grid-area: footer; }
  .main_cepas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "cepas"; }
    .main_cepas .titulo {
      grid-area: titulo;
      font-size: 40px; }
    .main_cepas .cepas_contenido {
      grid-area: cepas; } }

/* --------> MEDIA QUERY: CEPAS <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px) {
  .grid_cepas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_cepas header {
      grid-area: nav;
      position: relative; }
      .grid_cepas header .menu {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0; }
        .grid_cepas header .menu li {
          padding-bottom: 10px; }
          .grid_cepas header .menu li .submenu {
            width: 40%; }
            .grid_cepas header .menu li .submenu .sm_item {
              font-size: 15px; }
    .grid_cepas main {
      grid-area: main; }
    .grid_cepas footer {
      grid-area: footer; }
  .main_cepas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "cepas"; }
    .main_cepas .titulo {
      grid-area: titulo;
      font-size: 35px; }
    .main_cepas .cepas_contenido {
      grid-area: cepas; }
      .main_cepas .cepas_contenido ul li {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: left;
        margin-top: 30px;
        height: 100%;
        width: 90%;
        margin-left: 15px; } }

/* --------> MEDIA QUERY: ELABORACION <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_elaboracion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer"; }
    .grid_elaboracion header {
      grid-area: nav;
      padding: 10px 0px 5px 0px; }
      .grid_elaboracion header .menu .seccion {
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap; }
    .grid_elaboracion main {
      grid-area: main; }
    .grid_elaboracion footer {
      grid-area: footer; }
  .main_elabTinto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabTinto .titulo {
      grid-area: titulo;
      font-size: 40px;
      margin: 10px 0px 35px; }
    .main_elabTinto .proceso_tinto {
      grid-area: proceso;
      display: flex;
      flex-flow: column nowrap; }
      .main_elabTinto .proceso_tinto .et_info .et_tittle {
        font-size: 25px;
        width: auto;
        margin: 0;
        height: 50px;
        text-align: center; } }

/* --------> MEDIA QUERY: ELABORACION <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px) {
  .grid_elaboracion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_elaboracion header {
      grid-area: nav;
      position: relative; }
      .grid_elaboracion header .menu {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0; }
        .grid_elaboracion header .menu li {
          padding-bottom: 10px; }
          .grid_elaboracion header .menu li .submenu {
            width: 40%; }
            .grid_elaboracion header .menu li .submenu .sm_item {
              font-size: 15px; }
    .grid_elaboracion main {
      grid-area: main; }
    .grid_elaboracion footer {
      grid-area: footer; }
  .main_elabTinto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabTinto .titulo {
      grid-area: titulo;
      font-size: 28px;
      margin: 10px 0px 35px; }
    .main_elabTinto .proceso_tinto {
      grid-area: proceso;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 100vw; }
      .main_elabTinto .proceso_tinto .et_info {
        width: 90vw;
        margin: 0; }
        .main_elabTinto .proceso_tinto .et_info .et_tittle {
          font-size: 20px;
          width: auto;
          margin: 0;
          height: 30px;
          text-align: center; }
      .main_elabTinto .proceso_tinto .carousel-inner {
        margin-bottom: 50px; }
      .main_elabTinto .proceso_tinto .et_img {
        margin-bottom: 50px; }
  .main_elabBlanco {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "proceso"; }
    .main_elabBlanco .titulo {
      grid-area: titulo;
      font-size: 28px; }
    .main_elabBlanco .proceso_blanco {
      grid-area: proceso;
      display: flex;
      align-items: center;
      justify-items: center;
      width: 100vw; } }

/* --------> MEDIA QUERY: CONTACTO <------- */
/* -------------> TABLET <------------- */
@media screen and (max-width: 768px) {
  .grid_contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
    height: 100vh; }
    .grid_contacto header {
      grid-area: nav;
      padding: 10px 0px 5px 0px; }
      .grid_contacto header .menu .seccion {
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap; }
    .grid_contacto main {
      grid-area: main; }
    .grid_contacto footer {
      grid-area: footer; }
  .main_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "cepas"; }
    .main_contacto .titulo {
      grid-area: titulo;
      font-size: 40px; }
    .main_contacto .formulario {
      grid-area: cepas; } }

/* --------> MEDIA QUERY: CONTACTO <------- */
/* -------------> CELULAR <------------- */
@media screen and (max-width: 480px) {
  .grid_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "main" "footer"; }
    .grid_contacto header {
      grid-area: nav;
      position: relative; }
      .grid_contacto header .menu {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0; }
        .grid_contacto header .menu li {
          padding-bottom: 10px; }
          .grid_contacto header .menu li .submenu {
            width: 40%; }
            .grid_contacto header .menu li .submenu .sm_item {
              font-size: 15px; }
    .grid_contacto main {
      grid-area: main; }
    .grid_contacto footer {
      grid-area: footer; }
  .main_contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "formulario"; }
    .main_contacto .titulo {
      grid-area: titulo;
      font-size: 35px; }
    .main_contacto .formulario {
      grid-area: formulario; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EEEBDD;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  padding: 10px 0px 5px 0px; }
  header nav .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 0; }
    header nav .menu li {
      padding: 0;
      margin: 0; }
      header nav .menu li .logo {
        padding: 0px; }
        header nav .menu li .logo .inicio {
          width: 85px;
          height: 120px; }
      header nav .menu li .seccion {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 800;
        font-size: 20px;
        margin: 0; }
        header nav .menu li .seccion:hover {
          color: #f80808dc;
          font-size: 24px;
          transition: all .5s; }
      header nav .menu li .submenu {
        position: absolute;
        display: none;
        list-style: none;
        width: 200px;
        background-color: #383838;
        z-index: 1;
        padding-left: 0; }
        header nav .menu li .submenu li .sm_item {
          display: block;
          color: white;
          text-align: left;
          font-size: 17px;
          font-weight: bold;
          z-index: 1;
          width: 100%;
          text-decoration: none;
          padding: 15px 15px 15px 20px; }
        header nav .menu li .submenu li:hover {
          background-color: #0000008a;
          transition: all .9s; }
      header nav .menu li:hover .submenu {
        display: block; }

/* FOOTER */
footer {
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bolder;
  background-color: black;
  color: #EEEBDD; }
  footer a {
    width: 30px;
    height: 40px;
    padding: 0; }
    footer a img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px; }
  footer .footer_txt {
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center; }
